[alias]
	push = !git push origin `git rev-parse --abbrev-ref HEAD`
	pull = !git pull origin `git rev-parse --abbrev-ref HEAD`
[user]
	name = lidqqq
	email = lidqqq.dev@gmail.com
[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	ignorecase = true
	precomposeunicode = true
  	pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'
[interactive]
    diffFilter = delta --color-only
[init]
	defaultBranch = main
[pull]
	rebase = false
[push]
	default = current
