save-exact=true
progress=false
engine-strict=true
python=/usr/bin/python
init.author.name=lidqqq
init.author.email=lidqqq.dev@gmail.com
init.author.url=https://lidqqq.dev/
init.license=MIT
init.version=1.0.0
depth=0
